html,body {
  --navHeight: 90px;
  --contrast: #ff5e00;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  height: var(--navHeight);
  line-height: var(--navHeight);
  padding-left: 10px;
}
nav h1 {
  font-size: 2em;
}
.container {
  display: flex;
  flex-direction: row;
}
#content {
  width: 100%;
}
.menu {
  background-color: #ccc;
  min-height: calc(100vh - var(--navHeight));
}
#movies {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  background-color: #fff;
  padding: 5px;
}
.movie {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 200px;
  height: auto;
  background-color: white;
  margin: 10px;
  text-align: center;
  padding: 15px;
  box-shadow: 2px 2px 12px #ddd;
  cursor: pointer;
}

.animated {
  transition: 0.25s all ease-in;
}

.animated:hover {
  transform: scale(0.9);
}

.movie-img {
  text-align: center;
  width: 100%;

}

.movie-img img {
  width: 100%;
}
.movie-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.movie-titulo {
  font-weight: 800;
  font-size: 18px;
}
.movie-director {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 5px;
}
.movie-genero {
  font-size: 10px;
  color: var(--contrast);
  text-align: left;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 6px;
  margin-right: 10px;
  text-transform: lowercase;
}
.movie-actions {
  font-size: 10px;
  bottom: 0;
  margin-bottom: -10px;
  margin-left: 0px;
  text-align: left;
}
.movie-actions button{
  border: none;
  outline: none;
  background: transparent;
  font-size: 10px;
  padding 0px;
}
#generos {
  list-style-type: none;
  padding: 15px;
  padding-top: 0;
}
.genero button {
  width: 100%;
  padding: 5px 35px;
  margin-bottom: 15px;
  background-color: var(--contrast);
  color: white;
  font-weight: bolder;
  border: 2px solid transparent;
  cursor: pointer;
  font-size: 1em;
  border-radius: 20px;
  text-decoration: line-through;
  opacity: 0.5;
  text-transform: lowercase;
}
.genero button:hover {
  transform: scale(0.9);
}
.genero button.active {
  text-decoration: none;
  opacity: 1;
}
.no-results {
  text-align: center;
  font-size: 1.5em;
  display: block;
  width: 100%;
  vertical-align: middle;
  line-height: 13em;
  color: var(--contrast);
}
.detail {
  padding: 10px;
  width: 100%;
  overflow-x: hidden;
}
.detail h1, .detail h2, .detail h3 {
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.volver {
  cursor: pointer;
  color: var(--contrast);
  background-color: white;
  border: none;
  padding: 5px 0;
  outline: none;
}
#add-movie {
  border: 2px solid white;
  background: transparent;
  padding: 5px 10px;
  outline: none;
  color: white;
  margin: calc(var(--navHeight) / 2 - 15px);
  font-size: bolder;
  cursor: pointer;
}
.nueva-movie-form {
  padding: 10px;
  width: 100%;
}
.form-campo {
  margin-bottom: 10px;
  text-align: left;
}
.form-campo label {
  vertical-align: middle;
  line-height: 30px;
  margin-right: 10px;
  text-align: right;
}
.form-campo input {
  height: 30px;
  vertical-align: middle;
  line-height: 30px;
  padding: 0px 10px;
}
input type[text] {
  width: 40%;
}
.input-group {
  padding-left: 10px;
}
.create-movie {
  border: 2px solid var(--contrast);
  background: transparent;
  padding: 5px 10px;
  outline: none;
  color: var(--contrast);
  font-size: bolder;
  cursor: pointer;
  font-size: 16px;
}

#youtube-results {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  flex-wrap: wrap;
}

.youtube-video-result {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  width: 140px;
  padding: 10px;
  font-size: 10px;
}

.youtube-video-result a {
  color: var(--contrast);
  text-decoration: none;
}

.youtube-video-result p {
  margin:0;
}

.youtube-video-result img {
  cursor: pointer;
}

#search-youtube {
  vertical-align: middle;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

#search-youtube img{
  width: 26px;
}

iframe {
  width: 50%;
}
@media(max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .menu {
    min-height: 1px;
  }
  #content {
    justify-content: center;
  }
}
@media(max-width: 800px) {
  iframe {
    width: 100%;
  }
}
